.section
{
    height:200px;
    width:200px;
    background-color: aqua;
    margin:0px auto;
    border-radius:50%;
     overflow: hidden;
     margin-top:10px;
}

.section img
{
    width:100%;
}

.footer
{
    min-height:00px;
}
.footer img
{
height:100px;
}
#hr
{
    height:1px;
    background-color: orange;
    
}
#foot_nav ul li
{
    display: inline-block;
    font-size:14px;
    
}
#foot_nav ul li a
{
    color:white;
    padding:5px;
}
#rewards_side ul li a
{
text-decoration: none;
color:#916242;
font-weight: 600;
line-height: 30px;
}
#card_txt
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.col-sm-6 small a i:hover
{
    text-decoration: underline;
}
.sect_hov img:hover
{
  scale:0.9;
}